@model List<WorkJoinedViewModel>
@{
	ViewData["Title"] = "Home Page";
}
<div class="col-sm-12">
	<h5>Rapor</h5>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Kişi</th>
				<th>Aktif İşler</th>
				<th>Tamamlanan İşler</th>
				<th>Toplam</th>


			</tr>
		</thead>
		<tbody>

			<tr>
				<td>AdiSoyadi</td>
				<td>1</td>
				<td>1</td>
				<td>2</td>

			</tr>

		</tbody>
	</table>
</div>

<!-- Durumlar & Müşteri Listesi -->
<div class="row mt-4">
	<div class="col-sm-12">
		<h5>Tüm İşler</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>İş</th>
					<th>Durum</th>
					<th>Çalışan</th>
					<th>Oluşturulma Tarihi</th>
					<th>İşlem</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var work in Model)
				{
					<tr>
						<td>@work.Title</td>
						<td>@work.Durum</td>
						<td><a href="/Home/WorkDetails/@work.WorkId">@work.AdiSoyadi</a></td>
						<td>@work.CreatedDate.ToString("f")</td>
						<td><a class="btn btn-info" href="/Home/UpdateWork/@work.WorkId">güncelle</a> / <a href="/Home/DeleteWork/@work.WorkId" class="btn btn-primary" onclick="return confirm('Silmek İstediğinize emin misiniz?')">sil</a></td>
					</tr>
				}


			</tbody>
		</table>
	</div>

</div>
